services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: bbp-backend-api
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

networks:
  proxy:
    external: false

volumes:
  redis-data:
